.page-contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2vh;
}

.contact-title {
    width: 80vw;
    margin-bottom: 10vh;
    justify-content: center;
}

.contact-title > .underline {
    width: 20vw !important;
}

.contact-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 5vh;
}

.contact-form > textarea {
    resize: vertical;
    height: 200px;
    border-radius: 5px;
    padding: 10px;
}

.coordonnees {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 5vh;
    text-align: start;
}

.underline {
    width: 100% !important;
}
