html, body {
  font-family: 'Nunito Sans', sans-serif;
}

.container-fluid {
  min-height: 100vh;
  width: 100%;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
  list-style: none;
  text-transform: uppercase;
  text-decoration: solid;
  gap: 10px
}

.Nav > * {
  text-decoration: solid;
  color: white;
  font-size: .6em;
}

.header-title {
  font-size: 1em;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-content {
  flex-grow: 1;
}

.App-footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-evenly;
  color: white;
}

.App-footer > div {
  padding: 2rem;
}

.footer-contact > p {
  margin: 0;
}

.footer-social {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.footer-social > a > img {
  margin-top: 1vh;
  width: 1.5rem;
  height: 1.5rem;
  filter:invert(80%) opacity(50%);
}

.footer-social img:hover {
  filter: invert(80%) brightness(150%);
}

.footer-liens {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-items: center;
}

.footer-liens ul {
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 10px;
}

.footer-liens a {
  color: white;
  text-decoration: none;
}

.footer-realisation {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-items: center;
}

.footer-realisation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 10px;
}

.footer-realisation a {
  color: white;
  text-decoration: none;
}